<div class="row" id="dates">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-secondary" role="alert" *ngIf="report_message">
                    {{report_message}}
                   </div>
                <h4 class="card-title">Period</h4>
                <div style="height: auto;" class="mt-4">
                   
                    <form [formGroup]="periodForm" (ngSubmit)="getReport(periodForm.value)" class="row">
                        <div class="form-group col-md-6">
                          <label for="startDate">Start Date</label>
                          <input type="date" class="form-control" id="startDate" formControlName="startDate" placeholder="Enter Names">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endDate">End Date</label>
                            <input type="date" class="form-control" id="endDate" formControlName="endDate"  placeholder="Enter Phone number">
                          </div>

                          
                          
                          <div class="form-group col-md-4">
                            <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                <span class="sr-only">Loading...</span>
                              </div>
                            <button type="submit" class="btn btn-lg btn-primary" *ngIf="!isLoading">Search</button>
                          </div>
                      </form>
                        
                    </div>
            </div>
        </div>
    </div>
    
</div>
<div class="row" *ngIf="report" id="report">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- <button class="btn btn-secondary"  (click)="print()" id="print">Print</button> -->
                <p class="period"> From: <b> {{start}}</b> &nbsp; To: <b> {{end}}</b></p>
                <h4 class="card-title">People Visited the Saloon</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="border-top-0">Names</th>
                                <th class="border-top-0">Phone</th>
                                <th class="border-top-0">District</th>
                                <th class="border-top-0">Sector</th>
                                <th class="border-top-0">Cell</th>
                                <th class="border-top-0">Village</th>
                                <th class="border-top-0">Date</th>
                                <th class="border-top-0">Time</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let visitor of report">
                                
                                <td class="txt-oflo">{{visitor.name}}</td>
                                <td class="txt-oflo">{{visitor.phone}}</td>
                                <td class="txt-oflo">{{visitor.district}}</td>
                                <td class="txt-oflo">{{visitor.sector}}</td>
                                <td class="txt-oflo">{{visitor.cell}}</td>
                                <td class="txt-oflo">{{visitor.village}}</td>
                                <td class="txt-oflo">{{visitor.day}}</td>
                                <td class="txt-oflo">{{visitor.arrival_time}}</td>
                               
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

