.row{
    margin-top: 20px !important;
}
caption{
    caption-side: top !important;
    padding-left: 13px;
    font-weight: bold;
}
.error_msg{
    padding-left: 20px;
}
.subs{
    text-align: center;
    color: #6A7A8C;
}
@media print {
    body * {
      visibility: hidden;
    }
    #dates{
        visibility: hidden;
    }
   
    
  }