<div class="container">
    <div class="col-content login-content">
      
          <div class="row">
              <div class="col-md-3"></div>

            <div class="col-md-6 login-card">
              <h3 class="name">AMASUNZU</h3>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <div class="alert alert-danger" role="alert" *ngIf="error_msg">
                          {{error_msg}}
                         </div>
                        <div style="height: auto;" class="mt-4">
                          <form [formGroup]="loginForm" (ngSubmit)="onSubmitlogin(loginForm.value)" class="row">
                                <div class="form-group col-md-12">
                                  <label for="username">Username</label>
                                  <input class="form-control"  id="username" formControlName="username" type="text"  placeholder="Enter Username">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="password">Password</label>
                                    <input class="form-control"  id="password" formControlName="password" type="password"   placeholder="password">
                                   
                                  </div>
                                  
                                  <div class="form-group col-md-6">
                                    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary" (click)="logIn()" *ngIf="!isLoading">Login</button>
                                  </div>
                                
                              </form>
                                
                            </div>
                    </div>
                </div>
            </div>

             
              <div class="col-md-3"></div>
          </div>          
      </div>    
</div>
