<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-secondary" role="alert" *ngIf="message">
                    Employee {{message}}
                   </div>
                <h4 class="card-title" *ngIf="!edit">Add Employee</h4>
                <h4 class="card-title" *ngIf="edit">Edit Employee</h4>
                <div style="height: auto;" class="mt-4">
                    <form [formGroup]="addEmployeeForm" class="row">
                        <div class="form-group col-md-6">
                          <label for="names">Names</label>
                          <input type="text" class="form-control" id="names" formControlName="name" placeholder="Enter Full Names">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="nid">National ID</label>
                            <input type="text" class="form-control" id="nid" formControlName="nid"  placeholder="Enter National ID number">
                          </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Phone</label>
                            <input type="tel" class="form-control" id="phone" formControlName="phone"  placeholder="Enter Phone number">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="email">email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email">
                          </div>
                         
                         
                          <div class="form-group col-md-4">
                            <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                <span class="sr-only">Loading...</span>
                              </div>
                            <button type="submit" (click)="addEmployee(addEmployeeForm.value)" class="btn btn-lg btn-primary" *ngIf="!edit && !isLoading">Add</button>
                            <button (click)="editEmployee()" class="btn btn-lg btn-primary" *ngIf="edit && !isLoading">Update</button>
                          </div>
                         
                      </form>
                        
                    </div>
            </div>
        </div>
    </div>
   
</div>

<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Employees</h4>
            </div>
            <div class="card-body" *ngIf="getmsg">
                <h4>{{getmsg}}</h4>
            </div>
           
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0">NAME</th>
                            <th class="border-top-0">Phone Number</th>
                            <th class="border-top-0">Email</th>
                            <th class="border-top-0">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees; let i of index">
                            
                            <td class="txt-oflo">{{employee.name}}</td>
                            <td class="txt-oflo">{{employee.phone}}</td>
                            <td class="txt-oflo">{{employee.email}}</td>
                            <td class="txt-oflo">
                                <button (click)="openEditor(employee)"  class="btn  btn-primary">Edit</button> |  <button data-toggle="modal" (click)="openDelete(employee.id,employee.name)"  data-target="#delete"  class="btn btn-danger">Delete</button>
                                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deletTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        Are you sure you want to delete <b>{{delete_name}}</b>, this change is irreversible
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" (click)="deleteEmployee(delete_id)" data-dismiss="modal">Delete</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>

                            <!-- Modal -->
                            
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

