<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="alert alert-secondary" role="alert" *ngIf="isAdded">
                   Client {{message}}
                  </div> -->
                <div class="name">
                    <p>
                        <i class="fa fa-home user-icon" aria-hidden="true"></i>
                    </p>
                    <p class="user-name">
                       {{profile.name}}
                    </p>
                </div>
                
                
                <div style="height: auto;" class="mt-4">
                    <div class="alert alert-secondary" role="alert" *ngIf="profile_message">
                        {{profile_message}}
                       </div>
                       <div class="alert alert-secondary" role="alert" *ngIf="service_message">
                        Service {{service_message}}
                       </div>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" (click)="remove()" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" (click)="remove()" id="profile-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services</a>
                            </li>
                            
                          </ul>
                          <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <form [formGroup]="profileForm" (ngSubmit)="editProfile(profileForm.value)" class="row"> 
                                    <div class="form-group col-md-12">
                                      <label for="name">Name</label>
                                      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Names">
                                    </div>
                                    <div class="form-group col-md-12">
                                      <label for="email">Email</label>
                                      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="phone">Phone</label>
                                        <input type="tel" class="form-control" id="phone" formControlName="phone"  placeholder="Enter Phone number">
                                      </div>
                                      
                                     
                                      <div class="form-group col-md-12">
                                        <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                          <span class="sr-only">Loading...</span>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary " *ngIf="!isLoading">Update</button>
                                      </div>
                                    
                                  </form>  
                            </div>

                            <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
                                <form [formGroup]="serviceForm" (ngSubmit)="addService(serviceForm.value)" class="row"> 
                                    <div class="form-group col-md-12">
                                      <label for="Service">Service</label>
                                      <input type="text" class="form-control" id="service" formControlName="service" placeholder="Enter Service">
                                    </div>
                                    <div class="form-group col-md-12">
                                      <label for="price">Price</label>
                                      <input type="number" class="form-control" id="price" formControlName="price" >
                                    </div>
                                     
                                      <div class="form-group col-md-12">
                                        <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                          <span class="sr-only">Loading...</span>
                                        </div>
                                        <!-- <button (click)="updateService(profileForm.value)" class="btn btn-lg btn-primary " *ngIf="services_data">Update</button> -->
                                        <button type="submit" class="btn btn-lg btn-primary " *ngIf="!services_data && !isLoading">Add</button>
                                      </div>
                                    
                                  </form> 

                                  <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Service</th>
                                                <th class="border-top-0">Price</th>
                                                <!-- <th class="border-top-0">Action</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let service of services">
                                                
                                                <td class="txt-oflo">{{service.service}}</td>
                                                <td><span class="font-medium">{{service.price | number}} RWF</span></td>
                                                <!-- <td>
                                                    <button (click)="openEditor(service)"  class="btn  btn-primary">Edit</button> |  <button data-toggle="modal" (click)="openDelete(service.id)"  data-target="#delete"  class="btn btn-danger">Delete</button>

                                                </td> -->
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                          </div>
                        
                        
                    </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title h5 m-b-5">Total Clients Today</h5>
                <h3 class="font-light">{{total_clients}}</h3>

                <h5 class="card-title m-b-5">Total Income Today</h5>
                <h3 class="font-light">{{total_price | number}} RWF</h3>
                
            </div>
        </div>
        
    </div> -->
</div>