.row{
    margin-top: 20px !important;
}
caption{
    caption-side: top !important;
    padding-left: 13px;
    font-weight: bold;
}
.card{
    margin-top: 10px !important;
}
.add-btn{
    margin-top: 25px !important;
}
.subs{
    text-align: center;
    color: #6A7A8C;
}
h5{
    margin-top: 30px;
}
@media print {
    body * {
      visibility: hidden;
    }
    #inputs{
        visibility: hidden;
    }
    
    
  }