
<div class="row" id="inputs">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Client</h4>
                <div class="alert alert-secondary" role="alert" *ngIf="isAdded">
                   Client {{message}}
                  </div>
                
                <div style="height: auto;" class="mt-4">
                    <form [formGroup]="addClinetForm" (ngSubmit)="addClient(addClinetForm.value)" class="row form-row" method="post">
                        <div class="form-group col-md-6">
                          <label for="names">Names</label>
                          <input type="text" class="form-control" id="names" formControlName="name" placeholder="Enter Names"  required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Phone</label>
                            <input required type="tel" class="form-control" id="phone" formControlName="phone"  placeholder="Enter Phone number">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="district">District</label>
                            <input required type="text" class="form-control" id="district" formControlName="district" placeholder="Enter District">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="sector">Sector</label>
                            <input required type="text" class="form-control" id="sector" formControlName="sector"  placeholder="Enter Sector">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="cell">Cell</label>
                            <input required type="text" class="form-control" id="cell" formControlName="cell"  placeholder="Enter Cell">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="village">Village</label>
                            <input required type="text" class="form-control" id="village" formControlName="village" placeholder="Enter Village">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="barber">Employee</label>
                            <select id="barber" class="form-control" formControlName="barber">
                                <option *ngFor="let data of report.data; let i = index" value="{{data.id}}">{{data.name}}</option>
                               
                              </select>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="service">Service</label>
                            <select id="service" class="form-control" formControlName="service">
                                <option *ngFor="let service of profile.services" value="{{service.service}}">{{service.service}}</option>
                               
                                
                              </select>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="price">Price</label>
                            <input required type="text" class="form-control" formControlName="price" id="price"  placeholder="Enter Price">
                          </div>
                          <div class="form-group col-md-4 add-btn">
                            <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                <span class="sr-only">Loading...</span>
                              </div>
                            <button type="submit" class="btn btn-lg btn-primary" *ngIf="!isLoading">Add</button>
                          </div>
                        
                      </form>
                        
                    </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Expense</h4>
                <div class="alert alert-secondary" role="alert" *ngIf="expense_message">
                   Expense {{expense_message}}
                  </div>
                
                <div style="height: auto;" class="mt-4">
                    <form [formGroup]="addExpenseForm" (ngSubmit)="addExpense(addExpenseForm.value)" class="row">
                        <div class="form-group col-md-12">
                          <label for="expense">Expense</label>
                          <input required type="text" class="form-control" id="Expense" formControlName="expense" placeholder="Enter Expense">
                        </div>
                        
                          <div class="form-group col-md-12">
                            <label for="price">Price</label>
                            <input required type="text" class="form-control" id="price" formControlName="price"  placeholder="Enter Price">
                          </div>
                          <div class="form-group col-md-4">
                            <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                                <span class="sr-only">Loading...</span>
                              </div>
                            <button type="submit" class="btn btn-lg btn-primary" *ngIf="!isLoading">Add</button>
                          </div>
                        
                      </form>
                        
                    </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title h5 m-b-5">Total Clients Today</h5>
                <h3 class="font-light">{{total_clients}}</h3>

                <h5 class="card-title m-b-5">Total Income Today</h5>
                <h3 class="font-light">{{total_price | number}} RWF</h3>
                
            </div>
        </div>
        
    </div> -->
</div>

<div class="row">
    <!-- column -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Today's Count </h4>
                <h5>{{today}}</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" *ngFor="let data of report.data; let i = index">
                    <caption>{{data.name}}</caption>
                    <thead>
                        <tr>
                            <th class="border-top-0">Service</th>
                            <th class="border-top-0">Number of clients</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of data.clients; let i = index">
                           
                            <td class="txt-oflo" *ngIf="client.clients.length > 0">{{client.service}}</td>
                            <td *ngIf="client.clients.length > 0"><span class="font-medium">{{client.clients.length}}</span></td>
                           
                        </tr>
                        
                        <tr>
                           
                            <td class="txt-oflo"><b> Total income generated</b></td>
                            <td><span class="font-medium"><b> {{data.income}}</b></span></td>
                           
                        </tr>
                       
                    </tbody>
                    <p class="subs"> Total Monthly subscribers received: <b> {{data.subscribers}}</b></p>
                   
                </table>
            </div>
            
        </div>
    </div>
    <div class="col-md-6">
        

        <div class="card">
            <div class="card-body">
                <h5 class="card-title h5 m-b-5">Total Clients </h5>
                <h3 class="font-light">{{total_clients}}</h3>

                <h5 class="card-title m-b-5">Total Income generated </h5>
                <h3 class="font-light">{{total_price | number}} RWF</h3>
                
                <h5 class="card-title m-b-5">Total monthly subscription payments  </h5>
                <h3 class="font-light">{{report.sub_income | number}} RWF</h3>

                <h5 class="card-title m-b-5">Grand Total </h5>
                <h3 class="font-light">{{report.sub_income + total_price | number}} RWF</h3>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Today's Expenses</h4>
            </div>
            <div class="table-responsive">
               
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0">Expense</th>
                            <th class="border-top-0">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expense of expenses; let i = index">
                           
                            <td class="txt-oflo">{{expense.expense}}</td>
                            <td><span class="font-medium">{{expense.price | number}} RWF</span></td>
                        </tr>
                        <tr *ngIf="total_expenses">
                            
                            <td class="txt-oflo"><b>Total</b></td>
                            <td><span class="font-medium"><b>{{total_expenses | number}} RWF</b> </span></td>
                           
                        </tr>
                        
                        <tr *ngIf="!total_expenses">
                            
                            <td class="txt-oflo"><b>Total</b></td>
                            <td><span class="font-medium"><b>0 RWF</b> </span></td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-5">Net Profit Today </h5>
                <h3 class="font-light" *ngIf="total_expenses">{{(report.sub_income + total_price) - total_expenses | number}} RWF</h3>
                <h3 class="font-light" *ngIf="!total_expenses">{{report.sub_income + total_price | number}} RWF</h3>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Today's Count</h4>
                <div *ngFor="let total of totals">
                    <h5 class="card-title h5 m-b-5">{{total.service}} </h5>
                    <h3 class="font-light">{{total.clients}}</h3>
                </div>
            
            </div>
        </div>
    </div>
</div>

