<div class="nav-bar">
    <h3 class="name">AMASUNZU</h3>
    <div class="dropdown nav-menu">
        
        <button class="btn nav-btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <span class="side-nav-link">{{saloon}}</span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="nav-link nav-bar-link" href="/dashboard/profile"><span><i class="fa fa-user menu-icon" aria-hidden="true"></i></span> Profile</a>
            <a class="nav-link nav-bar-link" href="/dashboard"><span><i class="fa fa-dashboard menu-icon" aria-hidden="true"></i></span> Dashboard</a>
            <a class="nav-link  nav-bar-link" href="/dashboard/subscriptions"><span><i class="fa fa-list menu-icon" aria-hidden="true"></i></span>Subscriptions</a>
            <a class="nav-link  nav-bar-link" href="/dashboard/periodic-reports"><span><i class="fa fa-bar-chart menu-icon" aria-hidden="true"></i></span>Periodic Reports</a>
            <a class="nav-link  nav-bar-link" href="/dashboard/employees"><span><i class="fa fa-users menu-icon" aria-hidden="true"></i></span>Employees</a>
            <a class="nav-link  nav-bar-link" href="/dashboard/settings"><span><i class="fa fa-cogs menu-icon" aria-hidden="true"></i></span>Settings</a>
            <a class="nav-link  nav-bar-link" href="/dashboard/records"><span><i class="fa fa-list menu-icon" aria-hidden="true"></i></span>Records</a>
            <button class="nav-link logout-navbar nav-bar-link" (click)="logOut()"><span><i class="fa fa-sign-out menu-icon" aria-hidden="true"></i></span>Logout</button>
        </div>
      </div>
</div>
<div class="row" id="sidenav">
        <div class="col-md-2 nav-container">
            <nav class="nav flex-column">
                <a class="nav-link" href="/dashboard/profile">
                    <p>
                        <i class="fa fa-home user-icon" aria-hidden="true"></i>
                    </p>
                    <p class="user-name">
                        {{saloon}}
                    </p>
                    
                </a>
                <a class="nav-link side-nav-link" href="/dashboard"><span><i class="fa fa-dashboard menu-icon" aria-hidden="true"></i></span> Dashboard</a>
                <a class="nav-link side-nav-link" href="/dashboard/subscriptions"><span><i class="fa fa-list menu-icon" aria-hidden="true"></i></span>Subscriptions</a>
                <a class="nav-link side-nav-link" href="/dashboard/periodic-reports"><span><i class="fa fa-bar-chart menu-icon" aria-hidden="true"></i></span>Periodic Reports</a>
                <a class="nav-link side-nav-link" href="/dashboard/employees"><span><i class="fa fa-users menu-icon" aria-hidden="true"></i></span>Employees</a>
                <a class="nav-link side-nav-link" href="/dashboard/settings"><span><i class="fa fa-cogs menu-icon" aria-hidden="true"></i></span>Settings</a>
                <a class="nav-link side-nav-link" href="/dashboard/records"><span><i class="fa fa-list menu-icon" aria-hidden="true"></i></span>Records</a>
                <button class="nav-link logout-sidenav side-nav-link" (click)="logOut()"><span><i class="fa fa-sign-out menu-icon" aria-hidden="true"></i></span>Logout</button>
                
            </nav>
        </div>
        <div class="col-md-10 content">
           
            <router-outlet></router-outlet>
        </div>
</div>
