@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */

body{
    background-color: #F2F4F5;
    height: 100%;
    font-family: Rubik,sans-serif;
    color: #6A7A8C;
}
th,td{
    color: #6A7A8C; 
}
html{
    height: 100%;
}